streamlit
streamlit_extras
streamlit_authenticator

tika

langchain
langchain_huggingface
langchain_community
langchain_groq

python-dotenv
chromadb==0.5.3
spacy
requests
rank_bm25
psycopg2-binary
langsmith
supabase
nltk
Pyrebase4



# For downloading the model
# python -m spacy download en_core_web_sm


# For downloading the NLTK resources
# run "setup_nltk.py"