streamlit
streamlit_extras
streamlit_authenticator

tika

langchain
langchain_huggingface
langchain_community
langchain_groq

python-dotenv
chromadb
spacy
requests
rank_bm25
psycopg2-binary
langsmith
supabase
nltk

# Specific versions to ensure compatibility
protobuf==3.20.1
opentelemetry-api==1.10.0
opentelemetry-sdk==1.10.0

# For downloading the model
# python -m spacy download en_core_web_sm

# For downloading the NLTK resources
# run "setup_nltk.py"
